
<div class="row">
  <div class="col-md-7">
    </div>
<%= form_for(@contact) do |f| %>
<%= notice %>
<div class="col-md-5">
<ul class="form">
  <li><%= f.text_field :name, placeholder: 'Nome', size: "40x10" %></li>
  <li><%= f.email_field :email, placeholder: 'Email', size: "40x10" %></li>
  <li><%= f.text_area :body, placeholder: 'Digite seu texto...', size: "50x10" %></li>
  <li style="text-align: center"><%= f.submit 'Enviar' %></li>
<% end %>
</ul>
</div>

</div>

<div class="return"><a href="/">Voltar à página inicial</a></div>
