<div class="col-lg-6" id="search">
  <p>Selecione o tipo de estabelecimento ou serviço desejado:</p>
<%= form_tag places_path, :method => 'get' do %>
  <%= select_tag 'search', options_for_select(["Lanchonete", "Restaurante", "Pizzaria", "Delivery e Encomendas", "Hamburgueria", "Cafeteria", "Sorveteria",
  "Produtos Veganos"], params[:search]), prompt: "Selecione um local ou serviço", class: "select" %>
  <%= submit_tag "Procurar", :name => nil, class: "btn btn-md btn-warning" %>
<% end %>
</div>
<div class="col-lg-5 col-lg-offset-1" id="search2">
<p>Ou selecione o bairro ou a cidade de seu interesse:</p>
<%= form_tag places_path, :method => 'get' do %>
  <%= select_tag 'search', options_for_select(["Abranches", "Alto da Rua XV", "Água Verde", "Bacacheri", "Batel", "Bom Retiro", "Centro",
    "Hugo Lange", "Mercês", "Portão", "Rebouças", "São Francisco", "Seminário"], params[:search]), prompt: "Selecione um bairro ou cidade", class: "select" %>
  <%= submit_tag "Procurar", :name => nil, class: "btn btn-md btn-warning" %>
<% end %>
</div>
