<%= form_for(@place) do |pl| %>
<ul class="col-md-6">
<li>
<%= pl.label :name, "Nome" %>
<%= pl.text_field :name %></li>

<li><%= pl.label :modality, "Tipo" %>
<%= pl.text_field :modality %></li>

<li><%= pl.label :description, "Descrição" %>
<%= pl.text_field :description %></li>

<li><%= pl.label :openinghours, "Horário" %>
<%= pl.text_field :openinghours %>
</li>
</ul>
<ul class="col-md-6">
<li><%= pl.label :sort, "Espécie" %>
<%= pl.text_field :sort %></li>

<li><%= pl.label :address, "Endereço" %>
<%= pl.text_field :address %></li>

<li><%= pl.label :facebookpage, "Pág Face" %>
<%= pl.text_field :facebookpage %></li>
</ul>

<%= pl.submit "Criar estabelecimento" %>

<% end %>

<table align="center">
  <tbody>
    <tr>
      <th>Nome</th>
      <th>Tipo</th>
      <th>Descrição</th>
      <th>Horário</th>
      <th>Espécie</th>
      <th>Endereço</th>
      <th>Pág Face</th>
    </tr>
<% @places.each do |place| %>
<tr>
<td><%= place.name %></td>
<td><%= place.modality %></td>
<td><%= place.description %></td>
<td><%= place.openinghours %></td>
<td><%= place.sort %></td>
<td><%= place.address %></td>
<td><%= place.facebookpage %></td>
<td><%= link_to "Edit", edit_place_path(place) %></td>
<td><%= link_to "Delete", place, method: :delete %></td>
</tr>
<% end %>
</tbody>
</table>
